.loader-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    > p {
        margin: 0;
        margin-top: 1rem;
        color: black;
        font-size: 2vw;
    }
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and(max-width: 768px) {
    
    .loader-position {

        > p {
            font-size: 3vw;
        }
    }

}

@media screen and(max-width: 600px) {
    
    .loader-position {

        > p {
            font-size: 5vw;
        }
    }

}