.master-main-div {
    display: flex;
    flex-direction: column;

    width: 35%;
    height: 100%;
    background-color: white;
}

@media screen and (max-width: 768px) {    
    .master-main-div {
        width: 45%;
    }
}

@media screen and(max-width: 600px) {
    .master-main-div {
        width: 100%;
    }
}