.tab-content {
    display: flex;
    flex-direction: column;
}

.tab-list {
    display: flex;
    flex-direction: row;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #98C6E8;

    > .tab-rendering {
        margin-left: 2rem;

        > p {
            color: black;
        }
    }

    > .tab-selected {
        border-bottom: 4px;
        border-bottom-style: solid;
        border-bottom-color: #98C6E8;
    }
}

.content-list {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    height: 14rem;
	overflow-y: scroll;
}

@media screen and(max-width: 600px) {
    
    .content-list {
        height: 18rem;
    }
}
