.forecast-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e8e8e8;

    > p {
        margin: 0;
        color: black;
    }
}

.weather-info-day {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    > p {
        margin: 0;
        color: black;
    }

    > .weather-icon {
        width: 60%;
        justify-content: flex-end;

        > img {
            padding: 0;
            width: 20%;
            height: 20%;
        }
    }
}

@media screen and (max-width:1024px){

    .weather-info-day {

        > .weather-icon {
            width: 100%;
        }

    }
    
}

@media screen and (max-width:768px){

    .weather-info-day {

        > .weather-icon {
            width: 100%;
        }

    }
    
}