.forecast-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e8e8e8;

    > p {
        margin: 0;
        color: black;
    }
}

.weather-info-day {
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > p {
        margin: 0;
        color: black;
    }

    > .weather-icon {    
        width: 3rem;
        justify-content: space-between;
    }
}

@media screen and(max-width: 1024px) {

    .weather-info-day {
        width: 35%;
    }

    .forecast-item {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

@media screen and(max-width: 600px) {

    .weather-info-day {
        width: 20%;
    }

}