.city-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30%;
    margin-right: 3vw;
}

.city-name {
    font-size: 5vw;
    margin: 0;
    color: #122430;
}

.state-name {
    font-size: 2vw;
    margin: 0;
    color: #98C6E8;
}

@media screen and (max-width: 768px) {

    .city-name {
        font-size: 6.5vw;
    }

    .state-name {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 600px) {

    .city-info {
        margin: 2vh;
        height: 100%;
    }
    
}