.city-info {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.city-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60%;
    padding-right: 2vw;
    
    > p {
        font-size: 5vw;
        margin: 0;
        color: #122430;
    }
}

.state-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 35%;
    padding-right: 2vw;

    > p {
        font-size: 3vw;
        margin: 0;
        color: #98C6E8;
    }
}

@media screen and (max-width: 768px) {

    .city-name {
        
        > p {
            font-size: 6.5vw;
        }
    }

    .state-name {

        > p {
            font-size: 3.5vw;
        }
    }
}

@media screen and (max-width: 600px) {

    .city-info {
        height: 15%;
    }
    
}