.weather-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;

    > p {
        width: 50%;
        margin: 0;
        color: #9E9E9E;
        font-size: 2.5vw;
        text-align: center;
    }
}

@media screen and(max-width: 768px) {
    .weather-description {

        > p {
            font-size: 4vw;
        }
    }
    
}

@media screen and(max-width: 600px) {
    .weather-description {
        height: 10%;
        
        > p {
            font-size: 7vw;
        }
    }
    
}