.weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.icon {
    padding-top: 8vh;
    height: 70%;
    width: 70%;
    object-fit: contain;
}

@media screen and(max-width: 600px) {
    .weather-icon {
        height: 25%;
    }

    .icon {
        height: 100%;
        width: 100%;
        padding-top: 0;
    }

}