$black_56: rgba(0,0,0,0.56);

.main-div {
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
	height: 85vh;
	width: 80vw;
}

.box-shadow {
	box-shadow: -1px 5px 10px 0 $black_56;
}

p {
	color: white;
}

@media screen and(max-width: 768px) {
	.main-div {
		display: flex;
		flex-direction: row;
		margin: 0;
		height: 100vh;
		width: 100vw;
	}
}

@media screen and(max-width: 425px) {
	.main-div {
		display: block;
	}
}